!st.font:Fira Code:style=Regular:size=32
!st.font:Hack Nerd Font Mono:style=Regular:size=24
st.font:ComicCodeLigatures:size=16
dmenu.font:Terminus-18

! *.background: #000000
! *.foreground: wheat

xclock*background: #FFFFDD

st.foreground:  wheat
st.background:  #000000

Sxiv.background: grey

#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*.foreground:   nord4
*.background:   nord0
*.cursorColor:  nord4
!*fading: 35
!*fadeColor: nord3

*.color0: nord1
*.color1: nord11
*.color2: nord14
*.color3: nord13
*.color4: nord9
*.color5: nord15
*.color6: nord8
*.color7: nord5
*.color8: nord3
*.color9: nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6

!*.color0:      #1f1f1f
!*.color8:      #d6dbe5
!*.color1:      #f81118
!*.color9:      #de352e
!*.color2:      #2dc55e
!*.color10:     #1dd361
!*.color3:      #ecba0f
!*.color11:     #f3bd09
!*.color4:      #218DD0
!*.color12:     #1081F6
!*.color5:      #4e5ab7
!*.color13:     #5350b9
!*.color6:      #1081d6
!*.color14:     #0f7ddb
!*.color7:      #d6dbe5
!*.color15:     #ffffff
!*.colorBD:     #d6dbe5


Xawtv*fontSet: \
-xos4-terminus-medium-r-normal--20-200-72-72-c-100-iso10646-1 
TopLevelShell*fontSet:		\
-xos4-terminus-medium-r-normal--20-200-72-72-c-100-iso10646-1 
xawtv.onscreen.label.fontSet:		\
-xos4-terminus-medium-r-normal--20-200-72-72-c-100-iso10646-1 
 


